
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: 115vh;
  width: 100%;
  padding: 90px 0;
  background: #ddd;
}
.pic{
  height: 500px;
  width:  500px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 5px;

}
.text h5{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 10px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.mission{
    height: 350px;
    width: 100%;
    padding: 80px 0;
    margin-top: 10px;
    background: #de2121b7;
  }
  .mission-v{
    width: 5000px;
  }
  h4{
   font-family: 'Times New Roman', Times, serif;
   padding-left: 13cm;
   margin-top: 10px;
   font-weight: bolder;
   font-size: 300%;
}
p{
    font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
   margin-left: 100px ;
   margin-right: 50px;
   font-family: 'Times New Roman', Times, serif;

}
.vk{
    margin-top: 30px;
}